.personsEmpty {
    text-align: center;
}

.persons {
	margin: 0 auto 10px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
	/* padding: 0px 8px; */
	max-width: 600px;
}

.person {
	position: relative;
	margin-top: 5px;
	box-shadow: 0px 1px 1px 0px #d0d0d0;
	background-color: #fff;
	/* padding: 7px 10px; */
	/* max-width: 200px; */
	/* width: 100%; */
	/* od Kuby */
	max-width: 600px;
	width: 100%;

}

/* @media only screen and (min-width: 600px) {
	.persons {
		width: 80%;
		margin: 0 auto 10px auto;
	}
} */

.person-title {
	font-weight: bold;
}

.buttonSeen {
	margin-left: 10px;
}

.seen-save {
	margin-bottom: 40px;
}

.edit {
	display: none;
	width: 100%;
}

.edit input, .edit button {
	display: block;
	width: 100%;
	margin-top: 15px;
}

.edit select {
	margin: 15px;
}

.edit-save {
	background-color: #daf1ff;
	border: none;
	padding: 15px;
}
