.personsEmpty {
    text-align: center;
}

.persons {
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	padding: 0px 8px;
	max-width: 600px;
	height: calc(100% - 3em);
}
.persons.empty {
	align-items: center;
}

.person {
	display: flex;
	margin-top: 0.7em;
	box-shadow: 0px 1px 0px 0px #efefef;
	padding-bottom: 1em;
	max-width: 600px;
	min-height: 85px;
	width: 100%;
}

.person__column {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.person__column-grow {
	flex-grow: 1;
}

.person__button {
	box-sizing: border-box;
}

.person__button--primary {
}

.person__button--secondary {
	min-width: 4em;
	text-align: center;
	border: none;
}

.person__button--grow {
	flex-grow: 1;
}

.person__secondaryButtons {
	display: flex;
	justify-content: space-evenly;
}

.person__remove {
	justify-content: center;
}

.person__removeWrap {
	display: flex;
	width: 35%;
	justify-content: space-evenly;
	align-items: center;
}

.person-title {
	font-weight: bold;
}

.buttonSeen {
	margin-left: 10px;
}

.seen-save {
	margin-bottom: 40px;
}

.person__input, .person__datepicker > select {
	font-size: inherit;
	border-bottom: 1px solid #efefef;
	border-top: none;
	border-left: none;
	border-right: none;
	background-color: transparent;
}
.person__datepicker > select {
	margin-right: 1em;
}

.edit input, .edit button {
	display: block;
	width: 100%;
	margin-top: 15px;
}

.edit select {
	margin: 15px;
}

.edit-save {
	background-color: #daf1ff;
	border: none;
	padding: 15px;
}
